body {
    font-family: "Playfair Display", serif;
    background-image: url("../img/animebg.png");
    color: #F5F5DC;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin-inline: 100px;
    margin-top: 30px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #F5F5DC;
    position: relative;
}

.menu-item::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: rgb(255, 36, 0);
    transition: width .2s;
}

.menu-item:hover::after {
    width: 100%;
}

.menu-item:active::after {
    background: rgb(114, 47, 55);
}
.menu-item:active {
    color: grey
}

.eu {
    height: 500px;
    width: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    line-height: 150px;
}

.socials {
    margin-top: -550px;
    width: auto;
    text-align: left;
    line-height: 178px; 
}

.socialssob {
    margin-top: -519px;
    width: auto;
    text-align: left;
    line-height: 178px; 
}

.socialshab {
    margin-top: -575px;
    width: auto;
    text-align: left;
    line-height: 178px;
}

.socialsproj {
    margin-top: -496px;
    width: auto;
    text-align: left;
    line-height: 178px; 
}

.socials-item {
    width: 40px;
    height: auto;
    object-fit: contain;
    filter: brightness(800%);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 79px;
}

.ferramentas {
    padding: 15px;
}

.seção {
    background-color: #2a1e2e;
    border-radius: 2ch;
    border-width: 100px;
    font-family: "Roboto Mono", monospace;
}

.mhabilidades {
    text-align: center;
    padding-top: 30px;
}

footer {
    text-align: center;
    margin-top: 55px;
}

.sobremim {
    text-align: center;
    margin-top: 60px;
    line-height: 60px;
    font-size: 18px;
}

.titulosobre {
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.sinalize {
    line-height: 70px;
    background-color: #2a1e2e;
    border-radius: 2ch;
    font-family: "Roboto Mono", monospace;
    padding: 20px;
}

.sinalize h2 {
    padding-left: 360px;
    margin-top: -5px
}

strong {
    color: #20d4f6;
}

.tituloproj {
    text-align: center;
    margin-top: 40px;
    font-size: 3rem;
}